* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

/* Contained section */
.contained {
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
}

/* Full-width section */
.full-width {
  width: 100%;
  text-align: center;
}

.content {
  padding: 100px 135px;
}

@media (max-width: 1025px) {
  .content {
    padding: 50px 70px;
  }
}
@media (max-width: 769px) {
  .content {
    padding: 30px 15px;
  }
}
.main {
  background-color: #2d3339;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}

.btn {
  background-color: #2d3339;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 20.5px;
  padding: 10px 20px;
  border-radius: 5px;
}
.btn:hover {
  background-color: #43484d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2d3339;
}

.head-banner {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}
.head-banner p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  line-height: 61.5px;
  font-weight: 600;
  width: 100%;
}
.head-banner img {
  width: 100%;
}
.head-banner .head-img {
  min-height: 350px;
}
.head-banner button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-product {
  display: flex;
  gap: 30px;
}
.main-product .col {
  width: 50%;
}
.main-product .details {
  padding-right: 50px;
}
.main-product .details h1.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 41px;
  margin-bottom: 35px;
}
.main-product .details .price {
  font-size: 30px;
  font-weight: 500;
  line-height: 31px;
  margin-bottom: 35px;
}
.main-product .details .actions {
  display: flex;
  margin-bottom: 35px;
}
.main-product .details .actions .number-input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 120px;
  margin-right: 20px;
}
.main-product .details .actions .number-input input[type=number] {
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 15px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.main-product .details .actions .number-input button {
  position: absolute;
  background-color: transparent;
  top: 0;
  bottom: 0;
  border: none;
  width: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
}
.main-product .details .actions .number-input button#decreaseButton {
  left: 0;
  border-radius: 4px 0 0 4px;
}
.main-product .details .actions .number-input button#increaseButton {
  right: 0;
  border-radius: 0 4px 4px 0;
}
.main-product .details .actions .number-input button:hover {
  opacity: 0.5;
}
.main-product .details .actions .add-cart {
  flex: 1;
  padding: 16px 30px;
}
.main-product .details .description .quote {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #2d3339;
  margin-bottom: 18px;
}
.main-product .details .description .introduction {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #686B7B;
  margin-bottom: 50px;
}
.main-product .details .media img {
  width: 100%;
}
.main-product .gallery .preview {
  margin-bottom: 14px;
}
.main-product .gallery .preview img {
  width: 100%;
}
.main-product .gallery .others {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-product .gallery .others img {
  width: 23%;
}

.awards {
  display: flex;
  justify-content: space-between;
  padding: 35px 135px;
  background-color: #f7f7f7;
}
.awards img {
  width: 25%;
}

.details-product .detail {
  display: flex;
  gap: 100px;
  padding-bottom: 80px;
  justify-content: space-between;
}
.details-product .detail .introduction {
  width: 60%;
}
.details-product .detail .media {
  width: 35%;
}
.details-product .detail .media img {
  width: 100%;
}
.details-product .detail .sub-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 14.35px;
  color: #b9b9b9;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.details-product .detail .main-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 41px;
  margin-bottom: 40px;
}
.details-product .detail .desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  color: #686B7B;
  margin-bottom: 40px;
}
.details-product .overview {
  border-bottom: 1px #CECECE solid;
}
.details-product .overview .feature-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.details-product .overview .feature-list li {
  width: 48%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.details-product .overview .feature-list li:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  margin-right: 10px;
  color: #2b2b2b;
}
.details-product .features {
  padding-top: 100px;
  border-bottom: 1px #CECECE solid;
}
.details-product .features .details-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.details-product .features .details-list .col-list {
  border: 1px #ececec solid;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 31%;
}
.details-product .features .details-list .col-list img {
  margin-bottom: 10px;
}
.details-product .features .details-list .col-list h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 5px;
}
.details-product .features .details-list .col-list p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #686B7B;
  margin-bottom: 10px;
}
.details-product .size {
  padding-top: 100px;
  padding-bottom: 0;
  display: block;
  text-align: center;
}
.details-product .size img {
  width: 100%;
  max-width: 1030px;
}

.banner-slides.slick-slider {
  margin-bottom: 0;
}
.banner-slides img {
  width: 100%;
}

.other-details .section {
  display: flex;
}
.other-details .section .content {
  background-color: #f7f7f7;
  padding: 100px 100px;
}
.other-details .section .col {
  width: 50%;
}
.other-details .section .banner-dt {
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.other-details .section .banner-dt p {
  font-size: 60px;
  line-height: 61.5px;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
}
.other-details .spects .banner-dt {
  background-image: url("../assets/Rectangle 27.png");
}
.other-details .spects .accordion {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding-top: 70px;
}
.other-details .spects .accordion-item {
  margin-bottom: 10px;
}
.other-details .spects .accordion .accordion-header {
  width: 100%;
  background-color: transparent;
  padding: 10px;
  text-align: left;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  outline: none;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  line-height: 20.5px;
}
.other-details .spects .accordion .accordion-header i {
  position: absolute;
  right: 10px;
}
.other-details .spects .accordion .accordion-content {
  display: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #686B7B;
}
.other-details .testimonial .banner-dt {
  background-image: url("../assets/Rectangle 29.png");
}
.other-details .testimonial .slider-testimonial {
  padding-top: 50px;
}
.other-details .testimonial .slider-testimonial .slick-dots {
  bottom: -60px;
}
.other-details .testimonial .slider-testimonial .comment-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.other-details .testimonial .slider-testimonial .comment-item img {
  margin-bottom: 15px;
}
.other-details .testimonial .slider-testimonial .comment-item .name {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 30px;
}
.other-details .testimonial .slider-testimonial .comment-item .comment {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  color: #686B7B;
}

.related-product {
  text-align: center;
}
.related-product .sub-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 14.35px;
  color: #b9b9b9;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.related-product .main-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 41px;
  margin-bottom: 40px;
}
.related-product .product-grid {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.related-product .product-grid .product {
  border-radius: 5px;
  padding: 10px;
  width: 24%;
}
.related-product .product-grid .product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.related-product .product-grid .product .product-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: left;
}
.related-product .product-grid .product .product-price {
  font-size: 20px;
  color: #686B7B;
  text-align: left;
  margin-bottom: 10px;
}
.related-product .product-grid .product .product-rating {
  color: #ffdd2b;
  margin-bottom: 10px;
  font-size: 28px;
  text-align: left;
}
.related-product .product-grid .product .product-rating span {
  color: #686B7B;
  font-size: 14px;
}
.related-product .product-grid .product .add-cart {
  background-color: #333;
  color: #fff;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}
.related-product .product-grid .product .add-cart:hover {
  background-color: #43484d;
}

@media (max-width: 1025px) {
  .main-product .gallery .others img {
    width: 47%;
    margin-bottom: 20px;
  }

  .details-product .detail {
    flex-direction: column;
    gap: 10px;
  }
  .details-product .detail .introduction {
    width: 100%;
  }
  .details-product .detail .media {
    width: 100%;
  }

  .other-details .section {
    flex-wrap: wrap;
  }
  .other-details .section .col {
    width: 100%;
  }
  .other-details .section .content {
    padding: 80px 100px;
  }
  .other-details .spects .banner-dt {
    order: -1;
  }
  .other-details .spects .accordion {
    padding-top: 0;
  }
  .other-details .testimonial .slider-testimonial {
    padding-top: 0;
  }
}
@media (max-width: 769px) {
  .head-banner p {
    font-size: 40px;
    line-height: 41px;
    max-width: 300px;
  }

  .main-product {
    flex-wrap: wrap;
  }
  .main-product .col {
    width: 100%;
  }
  .main-product .details {
    padding-right: 0;
  }
  .main-product .details h1.title {
    font-size: 30px;
  }
  .main-product .details .actions {
    flex-direction: column;
  }
  .main-product .details .actions .number-input {
    margin-bottom: 20px;
  }
  .main-product .details .actions .add-cart {
    padding: 24px 30px;
  }
  .main-product .gallery {
    order: -1;
  }
  .main-product .gallery .others {
    display: none;
  }

  .awards {
    flex-direction: column;
  }
  .awards img {
    width: 100%;
  }

  .details-product .detail .main-title {
    font-size: 30px;
    line-height: 31px;
    margin-bottom: 20px;
  }
  .details-product .detail .desc {
    font-size: 18px;
    line-height: 30px;
  }
  .details-product .overview .feature-list li {
    width: 100%;
  }
  .details-product .features {
    padding-top: 50px;
  }
  .details-product .features .details-list .col-list {
    width: 100%;
  }
  .details-product .size {
    padding-top: 50px;
    padding-bottom: 0;
    display: block;
    text-align: center;
  }

  .other-details .section .content {
    padding: 50px 50px;
  }

  .related-product .main-title {
    font-size: 30px;
    line-height: 31px;
    margin-bottom: 20px;
  }
  .related-product .product-grid {
    flex-wrap: wrap;
    gap: 4px;
  }
  .related-product .product-grid .product {
    width: 49%;
  }
  .related-product .product-grid .product .product-name {
    font-size: 16px;
  }
  .related-product .product-grid .product .product-price {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .related-product .product-grid .product .product-rating {
    font-size: 20px;
  }
  .related-product .product-grid .product .product-rating span {
    font-size: 12px;
  }
}
.slick-slider .slick-arrow {
  z-index: 1;
  width: 60px;
  height: 60px;
  background: #00000080;
  border-radius: 5px;
}
.slick-slider .slick-arrow:after {
  font-family: "Font Awesome 6 Free";
}
.slick-slider .slick-prev {
  left: 25px;
}
.slick-slider .slick-prev::before {
  content: "";
  background-image: url("../assets/icons/chevron-left-solid.svg");
  height: 20px;
  width: 14px;
  display: inline-block;
}
.slick-slider .slick-next {
  right: 25px;
}
.slick-slider .slick-next:before {
  content: "";
  background-image: url("../assets/icons/chevron-right-solid.svg");
  height: 20px;
  width: 14px;
  display: inline-block;
}
.slick-slider .slick-dots {
  bottom: 25px;
}

/*# sourceMappingURL=index.css.map */
