.head-banner {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;

  p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    line-height: 61.5px;
    font-weight: 600;
    width: 100%;
  }

  img {
    width: 100%;
  }

  .head-img {
    min-height: 350px;
  }

  button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.main-product {
  display: flex;
  gap: 30px;

  .col {
    width: 50%;
  }

  .details {
    padding-right: 50px;

    h1.title {
      font-size: 40px;
      font-weight: 600;
      line-height: 41px;
      margin-bottom: 35px;
    }

    .price {
      font-size: 30px;
      font-weight: 500;
      line-height: 31px;
      margin-bottom: 35px;
    }

    .actions {
      display: flex;
      margin-bottom: 35px;

      .number-input {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 120px;
        margin-right: 20px;

        input[type="number"] {
          width: 100%;
          text-align: center;
          font-size: 20px;
          padding: 15px 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }

        button {
          position: absolute;
          background-color: transparent;
          top: 0;
          bottom: 0;
          border: none;
          width: 40px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          font-size: 20px;

          &#decreaseButton {
            left: 0;
            border-radius: 4px 0 0 4px;
          }

          &#increaseButton {
            right: 0;
            border-radius: 0 4px 4px 0;
          }

          &:hover {
            opacity: 0.5;
          }
        }
      }

      .add-cart {
        flex: 1;
        padding: 24px 30px;
      }
    }

    .description {
      .quote {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: $primary-color;
        margin-bottom: 18px;
      }

      .introduction {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: $secondary-color;
        margin-bottom: 50px;
      }
    }

    .media {
      img {
        width: 100%;
      }
    }
  }

  .gallery {
    .preview {
      margin-bottom: 14px;

      img {
        width: 100%;
      }
    }

    .others {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      img {
        width: 23%;
      }
    }
  }
}

.awards {
  display: flex;
  justify-content: space-between;
  padding: 35px 135px;
  background-color: #f7f7f7;

  img {
    width: 25%;
  }
}

.details-product {
  .detail {
    display: flex;
    gap: 100px;
    padding-bottom: 80px;
    justify-content: space-between;

    .introduction {
      width: 60%;
    }

    .media {
      width: 35%;

      img {
        width: 100%;
      }
    }

    .sub-title {
      font-size: 14px;
      font-weight: 700;
      line-height: 14.35px;
      color: #b9b9b9;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .main-title {
      font-size: 40px;
      font-weight: 600;
      line-height: 41px;
      margin-bottom: 40px;
    }

    .desc {
      font-size: 20px;
      font-weight: 400;
      line-height: 35px;
      color: $secondary-color;
      margin-bottom: 40px;
    }
  }

  .overview {
    border-bottom: $border;

    .feature-list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        width: 48%;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        font-size: 14px;

        &:before {
          content: "\f058";
          font-family: "Font Awesome 5 Free";
          font-size: 18px;
          margin-right: 10px;
          color: #2b2b2b;
        }
      }
    }
  }

  .features {
    padding-top: 100px;
    border-bottom: $border;

    .details-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .col-list {
        border: 1px #ececec solid;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        width: 31%;

        img {
          margin-bottom: 10px;
        }

        h3 {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          margin-bottom: 5px;
        }

        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          color: $secondary-color;
          margin-bottom: 10px;
        }
      }
    }
  }

  .size {
    padding-top: 100px;
    padding-bottom: 0;
    display: block;
    text-align: center;

    img {
      width: 100%;
      max-width: 1030px;
    }
  }
}

.banner-slides {
  &.slick-slider {
    margin-bottom: 0;
  }

  img {
    width: 100%;
  }
}

.other-details {
  .section {
    display: flex;

    .content {
      background-color: #f7f7f7;
      padding: 100px 100px;
    }

    .col {
      width: 50%;
    }

    .banner-dt {
      height: 720px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      p {
        font-size: 60px;
        line-height: 61.5px;
        font-weight: 600;
        width: -moz-fit-content;
        width: fit-content;
        color: white;
      }
    }
  }

  .spects {
    .banner-dt {
      background-image: url("assets/Rectangle 27.png");
    }

    .accordion {
      width: 100%;
      max-width: 600px;
      margin: auto;
      padding-top: 70px;

      &-item {
        margin-bottom: 10px;
      }

      .accordion-header {
        width: 100%;
        background-color: transparent;
        padding: 10px;
        text-align: left;
        border: none;
        border-bottom: 1px solid #c4c4c4;
        outline: none;
        cursor: pointer;
        position: relative;
        font-size: 20px;
        font-weight: 600;
        line-height: 20.5px;

        i {
          position: absolute;
          right: 10px;
        }
      }

      .accordion-content {
        display: none;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: $secondary-color;
      }
    }
  }

  .testimonial {
    .banner-dt {
      background-image: url("assets/Rectangle 29.png");
    }

    .slider-testimonial {
      padding-top: 50px;

      .slick-dots {
        bottom: -60px;
      }

      .comment-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          margin-bottom: 15px;
        }

        .name {
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          margin-bottom: 30px;
        }

        .comment {
          text-align: center;
          font-size: 20px;
          font-weight: 400;
          line-height: 35px;
          color: $secondary-color;
        }
      }
    }
  }
}

.related-product {
  text-align: center;

  .sub-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 14.35px;
    color: #b9b9b9;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .main-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 41px;
    margin-bottom: 40px;
  }

  .product-grid {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .product {
      border-radius: 5px;
      padding: 10px;
      width: 24%;

      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
      }

      .product-name {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
        text-align: left;
      }

      .product-price {
        font-size: 20px;
        color: $secondary-color;
        text-align: left;
        margin-bottom: 10px;
      }

      .product-rating {
        color: #ffdd2b;
        margin-bottom: 10px;
        font-size: 28px;
        text-align: left;

        span {
          color: $secondary-color;
          font-size: 14px;
        }
      }

      .add-cart {
        background-color: #333;
        color: #fff;
        padding: 20px 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
        font-weight: 500;

        &:hover {
          background-color: $hover-color;
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  .main-product {
    .gallery {
      .others {
        img {
          width: 47%;
          margin-bottom: 20px;
        }
      }
    }
  }

  .details-product {
    .detail {
      flex-direction: column;
      gap: 10px;

      .introduction {
        width: 100%;
      }

      .media {
        width: 100%;
      }
    }
  }

  .other-details {
    .section {
      flex-wrap: wrap;

      .col {
        width: 100%;
      }

      .content {
        padding: 80px 100px;
      }
    }

    .spects {
      .banner-dt {
        order: -1;
      }

      .accordion {
        padding-top: 0;
      }
    }
    
    .testimonial {
      .slider-testimonial {
        padding-top: 0;
      }
    }
  }
}

@media (max-width: 769px) {
  .head-banner {
    p {
      font-size: 40px;
      line-height: 41px;
    }
  }

  .main-product {
    flex-wrap: wrap;

    .col {
      width: 100%;
    }

    .details {
      padding-right: 0;

      h1.title {
        font-size: 30px;
      }

      .actions {
        flex-direction: column;

        .number-input {
          margin-bottom: 20px;
        }
      }
    }

    .gallery {
      order: -1;

      .others {
        display: none;
      }
    }
  }

  .awards {
    flex-direction: column;
    img {
      width: 100%;
    }
  }

  .details-product {
    .detail {
      .main-title {
        font-size: 30px;
        line-height: 31px;
        margin-bottom: 20px;
      }

      .desc {
        font-size: 18px;
        line-height: 30px;
      }
    }

    .overview {
      .feature-list li {
        width: 100%;
      }
    }

    .features {
      padding-top: 50px;

      .details-list {
        .col-list {
          width: 100%;
        }
      }
    }

    .size {
      padding-top: 50px;
      padding-bottom: 0;
      display: block;
      text-align: center;
    }
  }

  .other-details {
    .section {
      .content {
        padding: 50px 50px;
      }
    }
  }

  .related-product {
    .main-title {
      font-size: 30px;
      line-height: 31px;
      margin-bottom: 20px;
    }
  
    .product-grid {
      flex-wrap: wrap;
      gap: 4px;
  
      .product {
        width: 49%;
  
        .product-name {
          font-size: 16px;
        }
  
        .product-price {
          font-size: 14px;
          margin-bottom: 5px;
        }
  
        .product-rating {
          font-size: 20px;
  
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
}
